Trabalho 3/Materialize/galeria-produtos.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Trabalho de LMS</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- CSS-->
    <link media="screen,projection" rel="stylesheet" href="materialize/css/materialize.min.css">
    <!--link(media="screen,projection" rel="stylesheet", href="../css/font-awesome.min.css")-->
    <link media="screen,projection" rel="stylesheet" href="materialize/css/style.css">
    <link media="screen,projection" rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <ul id="dropdown-produtos" class="dropdown-content">
      <li><a href="#">teste</a></li>
      <li class="divider"></li>
      <li><a href="#">teste</a></li>
      <li class="divider"></li>
      <li><a href="#">teste</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper green"><a href="#" class="brand-logo right">Logo</a>
        <ul class="left hide-on-med-and-down">
          <li><a href="#" data-activates="form-login" class="dropdown-button">Entrar</a>
            <div id="form-login" class="row dropdown-content">
              <form>
                <div class="col s12">
                  <input type="email" class="black-text">
                </div>
                <div class="col s12">
                  <input type="password" class="black-text">
                </div>
                <div class="col s12">
                  <button type="submit" class="btn waves-effect waves-light">Entrar</button>
                </div>
              </form>
            </div>
          </li>
          <li><a href="#" data-activates="form-cadastrar" class="dropdown-button">Cadastra-se</a>
            <div id="form-cadastrar" class="row dropdown-content">
              <form>
                <div class="col s12">
                  <input type="email" class="black-text">
                </div>
                <div class="col s12">
                  <input type="password" class="black-text">
                </div>
                <div class="col s12">
                  <button type="submit" class="btn waves-effect waves-light">Cadastra-se</button>
                </div>
              </form>
            </div>
          </li>
          <li><a href="#" data-activates="dropdown-produtos" class="dropdown-button">Produtos</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
                <div class="col s6 m6">
                  <div class="card">
                    <form action="#" method>
                      <input type="hidden" name="id" value="1">
                      <div class="card-content black-text"><span class="card-title">Produto 1</span>
                        <p>Descricao</p><img src="img/camera.jpg" width="200px" height="200px"><br><span>100,00 R$</span>
                        <input type="hidden" name="preco" value="100,00">
                      </div>
                      <div class="card-action">               <span>Quantidade:</span>
                        <input type="number" name="qunatidade" min="0" max="100">
                        <button type="submit" class="btn btn-primary">Add</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col s6 m6">
                  <div class="card">
                    <form action="#" method>
                      <input type="hidden" name="id" value="2">
                      <div class="card-content black-text"><span class="card-title">Produto 2</span>
                        <p>Descricao</p><img src="img/cerveja.jpg" width="200px" height="200px"><br><span>4,00 R$</span>
                        <input type="hidden" name="preco" value="4,00">
                      </div>
                      <div class="card-action">               <span>Quantidade:</span>
                        <input type="number" name="qunatidade" min="0" max="100">
                        <button type="submit" class="btn btn-primary">Add</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col s6 m6">
                  <div class="card">
                    <form action="#" method>
                      <input type="hidden" name="id" value="3">
                      <div class="card-content black-text"><span class="card-title">Produto 3</span>
                        <p>Descricao</p><img src="img/pneu.jpg" width="200px" height="200px"><br><span>330,00 R$</span>
                        <input type="hidden" name="preco" value="330,00">
                      </div>
                      <div class="card-action">               <span>Quantidade:</span>
                        <input type="number" name="qunatidade" min="0" max="100">
                        <button type="submit" class="btn btn-primary">Add</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col s6 m6">
                  <div class="card">
                    <form action="#" method>
                      <input type="hidden" name="id" value="4">
                      <div class="card-content black-text"><span class="card-title">Produto 4</span>
                        <p>Descricao</p><img src="img/ype.jpg" width="200px" height="200px"><br><span>1,50 R$</span>
                        <input type="hidden" name="preco" value="1,50">
                      </div>
                      <div class="card-action">               <span>Quantidade:</span>
                        <input type="number" name="qunatidade" min="0" max="100">
                        <button type="submit" class="btn btn-primary">Add</button>
                      </div>
                    </form>
                  </div>
                </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="materialize/js/materialize.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrain_width: false, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left' // Displays dropdown with edge aligned to the left of button
          }
        );      
        
      });
    </script>
  </body>
</html>

Trabalho 3/Materialize/galeria-produtos.jade
//output:galeria-produtos.html, pretty:true
doctype html
html(lang="en")
  include header.jade

  body
    ul(id="dropdown-produtos", class="dropdown-content")
      li
        a(href="#") teste
      li(class="divider")
      li
        a(href="#") teste
      li(class="divider")
      li
        a(href="#") teste
    
    nav
      div(class="nav-wrapper green")
        a(href="#", class="brand-logo right") Logo
        ul(class="left hide-on-med-and-down")
          li
            a(href="#", class="dropdown-button", data-activates="form-login") Entrar
            div(id="form-login", class="row dropdown-content")
              form
                div(class="col s12")
                  input(type="email" class="black-text")
                div(class="col s12")
                  input(type="password", class="black-text")
                div(class="col s12")
                  button(class="btn waves-effect waves-light", type="submit") Entrar
              
          li
            a(href="#", class="dropdown-button", data-activates="form-cadastrar") Cadastra-se
            div(id="form-cadastrar", class="row dropdown-content")
              form
                div(class="col s12")
                  input(type="email" class="black-text")
                div(class="col s12")
                  input(type="password", class="black-text")
                div(class="col s12")
                  button(class="btn waves-effect waves-light", type="submit") Cadastra-se
          li
            a(href="#", class="dropdown-button", data-activates="dropdown-produtos") Produtos
  
    
    div(class="container")
      div(class="row")
        //- - var count = 2;
        //- - for(var i = 0; i < count; i++){
        //-   
        //-   div(class="col s6 m6")
        //-     div(class="card")
        //-       div(class="card-content black-text")
        //-         span(class="card-title") Produto
        //-         p Descricao
        //-         img
        //-         span 20,99 R$
        //-       div(class="card-action")
        //-         form
        //-           span Quantidade:
        //-           input(type="number", min="0", max="100")
        //-           a(href="#", class="green-text") Add
        //- - }
        //- - var nomeProdutos = ["Produto 1", "Produto 2", "Produto 3", "Produto 4"]
        //- - var imgs = ["camera", "cerveja", "pneu", "ype"]
        //- var i = 0;
        //- for produto in nomeProdutos
        //-   div(class="col s6 m6")
        //-     div.card
        //-       div.card-content.black-text
        //-         span.card-title= produto 
        //-         p Descricao
        //-         img(src='img/#{imgs[i]}.jpg', width="200px", height="200px")
        //-         - i++;
        //-         br
        //-         span 30,00 R$
        //-       div(class="card-action")
        //-         form
        //-           span Quantidade:
        //-           input(type="number", min="0", max="100")
        //-           a(href="#", class="green-text") Add
        - var produtos = [ { id: "1", nome: "Produto 1", img: "camera", preco: "100,00"}, { id: "2", nome: "Produto 2", img: "cerveja", preco: "4,00"}, { id: "3", nome: "Produto 3", img: "pneu", preco: "330,00"}, { id: "4", nome: "Produto 4", img: "ype", preco: "1,50"},];
        mixin listarProdutos(produto)
          div(class="col s6 m6")
            div.card
              form(action="#", method)
                input(type="hidden", name="id", value=produto.id)
                div.card-content.black-text
                  span.card-title= produto.nome 
                  p Descricao
                  img(src='img/#{produto.img}.jpg', width="200px", height="200px")
                  br
                  span= produto.preco + " R$"
                  input(type="hidden", name="preco", value=produto.preco)
                div(class="card-action")                
                  span Quantidade:
                  input(type="number",name="qunatidade" min="0", max="100")
                  button(class="btn btn-primary", type="submit") Add
        
        for produto in produtos  
          +listarProdutos(produto)
    
    include script.jade
    include scriptDropdown.jade
    
  
