Trabalho 3/Bootstrap/galeria.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Trabalho de LMS</title>
    <!-- CSS-->
    <link media="screen,projection" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!--link(media="screen,projection" rel="stylesheet", href="../css/font-awesome.min.css")-->
    <link media="screen,projection" rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link media="screen,projection" rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--ENTRAR-->
            <li id="login" class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Entrar</a>
              <div class="dropdown-menu">
                <form style="width:400px; padding:10px" id="form-entrar">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email </label>
                    <input name="email" type="email" id="exampleInputEmail1" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input name="senha" type="password" id="exampleInputPassword1" placeholder="Password" class="form-control">
                  </div>
                  <div class="form-group"><a href="#" class="btn btn-primary logar">Logar</a>
                  </div>
                </form>
              </div>
            </li>
            <!--CADASTRAR-->
            <li id="cadastrar" class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Cadastra-se</a>
              <div class="dropdown-menu">
                <form style="width:400px; padding:10px" id="form-cadastrar" method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="control-label">Email </label>
                    <input name="emailCadastrar" type="email" id="exampleInputEmail1" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="control-label">Senha </label>
                    <input name="senhaCadastrar" type="password" id="exampleInputPassword1" placeholder="Password" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword2" class="control-label">Repita a senha</label>
                    <input name="resenhaCadastrar" type="password" id="exampleInputPassword2" placeholder="Password" class="form-control">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success">Cadastra-se</button>
                  </div>
                </form>
              </div>
            </li>
          </ul>
          <ul id="opcoes-logado" class="nav navbar-nav pull-right inativo">
            <!--PRODUTOS-->
            <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Carrinho<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form id="finalizar-compra" >
                  <li id="camera" class="inativo">
                    <div class="row">
                      <div class="col-md-3">
                        <img src="img/camera.jpg" alt="" width="50px" height="50px">
                      </div>
                      <div class="col-md-6 camera-detalhes">
                        <input type="hidden" name="id" value="1">
                        <input id="qtd-camera" type="hidden" name="qtd-camera" value="0">
                        <input id="preco-camera" type="hidden" name="preco-camera" value="0">
                      </div>
                    </div>
                  </li>
                  <li id="ype" class="inativo">
                    <div class="row">
                      <div class="col-md-3">
                        <img src="img/ype.jpg" alt="" width="50px" height="50px">
                      </div>
                      <div class="col-md-6 ype-detalhes">
                        <input type="hidden" name="id" value="4">
                        <input id="qtd-ype" type="hidden" name="qtd-ype" value="0">
                        <input id="preco-ype" type="hidden" name="preco-ype" value="0">
                      </div>
                    </div>
                  </li>
                  <li id="cerveja" class="inativo">
                    <div class="row">
                      <div class="col-md-3">
                        <img src="img/cerveja.jpg" alt="" width="50px" height="50px">
                      </div>
                      <div class="col-md-6 cerveja-detalhes">
                        <input type="hidden" name="id" value="2">
                        <input id="qtd-cerveja" type="hidden" name="qtd-cerveja" value="0">
                        <input id="preco-cerveja" type="hidden" name="preco-cerveja" value="0">
                      </div>
                    </div>
                  </li>
                  <li id="pneu" class="inativo">
                    <div class="row">
                      <div class="col-md-3">
                        <img src="img/pneu.jpg" alt="" width="50px" height="50px">
                      </div>
                      <div class="col-md-6 pneu-detalhes">
                        <input type="hidden" name="id" value="3">
                        <input id="qtd-pneu" type="hidden" name="qtd-pneu" value="1">
                        <input id="preco-pneu" type="hidden" name="preco-pneu" value="1">
                      </div>
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <!-- <button type="submit" class="btn btn-primary">Finalizar</button> -->
                    <a href="#" class="btn btn-primary finalizar"> Finalizar</a>
                  </li>
                </form>

              </ul>
            </li>
            <!--SAIR-->
            <li id="logoff" class="dropdown"><a href="#">Sair</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--card-->
    <div class="container">
      <div id="alert"></div>
      <div class="row"></div>
            <div class="col-md-3">
              <div class="card">
                <form id="form-camera" method="post">
                  <input type="hidden" name="id" value="1"><img src="img/camera.jpg" width="200px" height="200px" alt="Card image cap" class="card-img-top">
                  <div class="card-block">
                    <h4> <span class="card-title">Camera</span></h4>
                    <!--tirar para colocar numve-->
                    <div class="form-group"><span>100,00 R$</span>
                      <input type="hidden" name="preco" value="100,00">
                    </div>
                    <div class="form-group inativo"><span>Qtd = </span>
                      <input type="number" name="quantidade" min="0" max="100">
                    </div>
                    <div class="form-group inativo">
                      <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <form id="form-cerveja" method="post">
                  <input type="hidden" name="id" value="2"><img src="img/cerveja.jpg" width="200px" height="200px" alt="Card image cap" class="card-img-top">
                  <div class="card-block">
                    <h4> <span class="card-title">Cerveja</span></h4>
                    <!--tirar para colocar numve-->
                    <div class="form-group"><span>4,00 R$</span>
                      <input type="hidden" name="preco" value="4,00">
                    </div>
                    <div class="form-group inativo"><span>Qtd = </span>
                      <input type="number" name="quantidade" min="0" max="100">
                    </div>
                    <div class="form-group inativo">
                      <button href="#" class="btn btn-primary addCerveja">ADD</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <form id="form-pneu" method="post">
                  <input type="hidden" name="id" value="3"><img src="img/pneu.jpg" width="200px" height="200px" alt="Card image cap" class="card-img-top">
                  <div class="card-block">
                    <h4> <span class="card-title">Pneu</span></h4>
                    <!--tirar para colocar numve-->
                    <div class="form-group"><span>330,00 R$</span>
                      <input type="hidden" name="preco" value="330,00">
                    </div>
                    <div class="form-group inativo"><span>Qtd = </span>
                      <input type="number" name="quantidade" min="0" max="100">
                    </div>
                    <div class="form-group inativo">
                      <button href="#" class="btn btn-primary addPneu">ADD</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <form id="form-ype" method="post">
                  <input type="hidden" name="id" value="4"><img src="img/ype.jpg" width="200px" height="200px" alt="Card image cap" class="card-img-top">
                  <div class="card-block">
                    <h4> <span class="card-title">Detergente</span></h4>
                    <!--tirar para colocar numve-->
                    <div class="form-group"><span>2 R$</span>
                      <input type="hidden" name="preco" value="2">
                    </div>
                    <div class="form-group inativo"><span>Qtd = </span>
                      <input type="number" name="quantidade" min="0" max="100">
                    </div>
                    <div class="form-group inativo">
                      <button href="#" class="btn btn-primary addYpe">ADD</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/acoes.js"></script>
</html>

Trabalho 3/Bootstrap/galeria.jade
//output:galeria.html, pretty:true
doctype html
html(lang="en")
  include header.jade
  body
    nav(class="navbar navbar-inverse")
      div(class="container")
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            //ENTRAR
            li(class="dropdown" id="login")
              a(href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Entrar
              div(class="dropdown-menu")
                form(style="width:400px; padding:10px", id="form-entrar")
                    div(class="form-group")
                      label(for="exampleInputEmail1") Email 
                      input(name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
                    div(class="form-group")
                      label(for="exampleInputPassword1") Senha
                      input(name="senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")   
                    div(class="form-group")
                      //- button(type="submit" class="btn btn-primary") Logar
                      a(href="#" class="btn btn-primary logar") Logar
            //CADASTRAR
            li(class="dropdown" id="cadastrar")
              a(href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Cadastra-se
              div(class="dropdown-menu")
                form(style="width:400px; padding:10px", id="form-cadastrar", method="post")
                  div(class="form-group")
                    label(class="control-label" for="exampleInputEmail1" ) Email 
                    input(name="emailCadastrar" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
                  div(class="form-group")
                    label(class="control-label" for="exampleInputPassword1") Senha 
                    input(name="senhaCadastrar" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
                  div(class="form-group")
                    label(class="control-label" for="exampleInputPassword2") Repita a senha
                    input(name="resenhaCadastrar" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password")   
                  div(class="form-group")
                    button(type="submit" class="btn btn-success") Cadastra-se
            
          ul(class="nav navbar-nav pull-right inativo" id="opcoes-logado")
            //PRODUTOS
            li(class="dropdown")
              a(href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Carrinho
                span(class="caret")
              ul(class="dropdown-menu")
            //SAIR
            li(class="dropdown" id="logoff")
              a(href="#") Sair

    
    //card
    div(class="container")
      div(id="alert")
      div(class="row")
      - var produtos = [ { id: "1", nome: "Camera", img: "camera", preco: "100,00"}, { id: "2", nome: "Cerveja", img: "cerveja", preco: "4,00"}, { id: "3", nome: "Pneu", img: "pneu", preco: "330,00"}, { id: "4", nome: "Detergente", img: "ype", preco: "1.5"},];
      mixin listarProdutos(produto)
        div(class="col-md-3")
          div.card
            form
              input(type="hidden", name="id", value=produto.id)
              img(class="card-img-top" src='img/#{produto.img}.jpg' width="200px", height="200px" alt="Card image cap")
              div(class="card-block")
                h4 
                  span.card-title= produto.nome
                //tirar para colocar numve
                div(class="form-group")
                  span= produto.preco + " R$"
                  input(type="hidden", name="preco", value=produto.preco) 
                div(class="form-group inativo")
                  span Qtd = 
                  input(type="number",name="quantidade", min="0", max="100")
                div(class="form-group inativo")
                  button(href="#" class="btn btn-primary addProduto") ADD
              
      for produto in produtos  
        +listarProdutos(produto)
  

  include script.jade
